body {
  margin: 0;
  background: black;
  color: white;
  font-family: monospace;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

header {
  text-align: center;
  padding: 120px 20px;
}

.hero {
  font-size: 3rem;
  letter-spacing: 5px;
}

section {
  padding: 60px;
  border-bottom: 1px solid #111;
}

#loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.glitch {
  position: relative;
}

.glitch::before { content: attr(data-text); color:red; position:absolute; left:-2px;}
.glitch::after { content: attr(data-text); color:blue; position:absolute; left:2px;}

#musicBtn {
  position: fixed;
  top: 20px;
  right: 20px;
}

#secretBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#secretBox {
  display:none;
  position: fixed;
  bottom: 60px;
  right: 20px;
}

#hidden {
  display:none;
  padding:50px;
}
